{% extends 'base.html' %}
{% block content %}
<h1 class="text-white">About this app</h1>
<h2 class="text-white">Simple project to practie docker learning</h2>
<p class="text-white">You can CREATE, READ, UPDATE and DELETE activities to do</p>
<p class="text-white">Type activities that you have to do and click in Create button to save it</p>
<p class="text-white">Any time you can update or delete them</p>
<p class="text-white">Enjoys it, and God bless you</p>
{% endblock content %}