{% extends 'base.html' %}
{% block content%}

    <div class="row">
        <div class="col-md-5">
            {% include('partials/_message.html')%}
            {% include('partials/_todoForm.html')%}
        </div>
        <div class="col-md-7">        
            {% for todo in todos %}
                <div class="card mb-1 text-black bg-light">
                    <div class="d-flex justify-content-between">
                        <div class="card-body">
                            <h5>{{todo.description}}</h5>
                            <p>{{todo.complete}}</p>
                            <div>
                                <a href="{{ url_for('todos.update_todo',id=todo.id)}}" class="btn bg-black text-white btn-sm rounded-0">Update</a>
                                <a href="{{ url_for('todos.delete_todo', id=todo.id)}}" class="btn btn-danger btn-sm rounded-0">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}