{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md offset-md-4">
            <form action="/update/{{todo.id}}" method="POST" class="card bg-light text-dark">
                <div class="card-body p-4">
                    <div class="mb-3">
                        <label for="description">Update your description:</label>
                        <input type="text" name="description" required placeholder="write the description" class="form-control rounded-0 bg-light border-0 text-black" value='{{todo.description}}' >
                    </div>
                    <div class="mb-3">
                        <label for="complete">complete?:</label>
                        {% if todo.complete %}
                            <input type="checkbox" name="complete" checked>
                        {% else %}
                            <input type="checkbox" name="complete">
                        {% endif %}
                    </div>
                    
                    <button class="btn btn-secondary">Update</button>
                </div>
        
            </form>
        </div>
    </div>
{% endblock content%}