{% with messages = get_flashed_messages() %}
    {% if messages%}
        {% for message in messages%}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
        {% endfor%}
    {% endif %}
{% endwith%}