<form action="/new" method="POST" class="card bg-light text-dark">
    <div class="car-body p-4">
        <div class="mb-3">
            <label for="description">Write the Todo description:</label>
            <input type="text" name="description" required placeholder="write the description" class="form-control rounded-0 bg-light border-0 text-black">
        </div>
        
        <div class="mb-3">
            <label for="complete">complete?:</label>
            <input type="checkbox" name="complete" value=1 >
        </div>
        <button class="btn btn-primary">Save</button>
    </div>
</form>